body {
    padding: 0;
    margin: 0;

}

/******************MENU************************/

button img {
    width: 50%;
}

.dropbtn {
    background-color: #7cccba;
    color: white;
    padding: 8px;
    width: 113px;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    text-align: center;
    font-family: "Open Sans", sans-serif;

}


/*------ DROPDOWN CONTAINER -------*/

.dropdown {
    position: fixed;
    display: inline-block;
    width: 100%;
    top: 185px;
    background-color: #7cccba;
    z-index: 1;
    text-align: center;
}

.dropdown ul {
    background-color: #7cccba;
    list-style-type: none;

}


/*-------- DROPDOWN INDHOLD -------*/

.dropdown-content {
    display: none;
    position: absolute;
    font-family: "Open Sans", sans-serif;
    background-color: #7cccba;
    font-size: 1.3em;
    min-width: 270px;
    z-index: 1;
    margin-left: 60px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ffffff;
    color: #5d6f7d;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/**************************OVERORDNET********************/

#kontrol a,
#menu a {
    text-decoration: none;
    color: #72C8B6;

}

#beskrivelse a {
    text-decoration: none;
    color: black;
}

#beskrivelse {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    font-size: 1em;
    border-bottom: solid #dddddd 2px;
}

#menu {
    text-align: center;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;


}

#kontakt {
    padding: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}

#kontakt a {
    text-decoration: none;
    color: black;
}

#kontrol {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
}







/****FORSIDE******/

#imgsforside {
    width: 100%;
    display: block;
    margin: 0 auto;
}

/***NYHEDER******/

h2 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

#imgnyhed {
    width: 100%;
}

#overskrift {
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

/***OM***********/

#om {
    font-family: 'Open Sans', sans-serif;
}

/*****GUIDES*****/

/*****STEDER******/

#imgsted {
    width: 100%;
}



/*****LEVERANDØR*****/

#imgleverandor {
    width: 100%;
}
